--
-- PostgreSQL database dump
--

-- Dumped from database version 16.1
-- Dumped by pg_dump version 16.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: rois
--

CREATE TABLE public.bookings (
    booking_id integer NOT NULL,
    user_id integer NOT NULL,
    schedule_id integer NOT NULL,
    seat_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.bookings OWNER TO rois;

--
-- Name: bookings_booking_id_seq; Type: SEQUENCE; Schema: public; Owner: rois
--

CREATE SEQUENCE public.bookings_booking_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bookings_booking_id_seq OWNER TO rois;

--
-- Name: bookings_booking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rois
--

ALTER SEQUENCE public.bookings_booking_id_seq OWNED BY public.bookings.booking_id;


--
-- Name: casts; Type: TABLE; Schema: public; Owner: rois
--

CREATE TABLE public.casts (
    id integer NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.casts OWNER TO rois;

--
-- Name: casts_id_seq; Type: SEQUENCE; Schema: public; Owner: rois
--

CREATE SEQUENCE public.casts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.casts_id_seq OWNER TO rois;

--
-- Name: casts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rois
--

ALTER SEQUENCE public.casts_id_seq OWNED BY public.casts.id;


--
-- Name: directors; Type: TABLE; Schema: public; Owner: rois
--

CREATE TABLE public.directors (
    id integer NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.directors OWNER TO rois;

--
-- Name: directors_id_seq; Type: SEQUENCE; Schema: public; Owner: rois
--

CREATE SEQUENCE public.directors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.directors_id_seq OWNER TO rois;

--
-- Name: directors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rois
--

ALTER SEQUENCE public.directors_id_seq OWNED BY public.directors.id;


--
-- Name: genres; Type: TABLE; Schema: public; Owner: rois
--

CREATE TABLE public.genres (
    genre_id integer NOT NULL,
    genre_name character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone
);


ALTER TABLE public.genres OWNER TO rois;

--
-- Name: genres_genre_id_seq; Type: SEQUENCE; Schema: public; Owner: rois
--

CREATE SEQUENCE public.genres_genre_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.genres_genre_id_seq OWNER TO rois;

--
-- Name: genres_genre_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rois
--

ALTER SEQUENCE public.genres_genre_id_seq OWNED BY public.genres.genre_id;


--
-- Name: locations; Type: TABLE; Schema: public; Owner: rois
--

CREATE TABLE public.locations (
    id integer NOT NULL,
    city character varying(255) NOT NULL,
    address character varying(255) NOT NULL
);


ALTER TABLE public.locations OWNER TO rois;

--
-- Name: locations_id_seq; Type: SEQUENCE; Schema: public; Owner: rois
--

CREATE SEQUENCE public.locations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.locations_id_seq OWNER TO rois;

--
-- Name: locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rois
--

ALTER SEQUENCE public.locations_id_seq OWNED BY public.locations.id;


--
-- Name: movie; Type: TABLE; Schema: public; Owner: rois
--

CREATE TABLE public.movie (
    movie_id integer NOT NULL,
    title character varying(255) NOT NULL,
    synopsis text,
    release_date date,
    duration integer,
    rating numeric(3,2),
    poster_url character varying(255),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone
);


ALTER TABLE public.movie OWNER TO rois;

--
-- Name: movie_casts; Type: TABLE; Schema: public; Owner: rois
--

CREATE TABLE public.movie_casts (
    movie_id integer NOT NULL,
    cast_id integer NOT NULL
);


ALTER TABLE public.movie_casts OWNER TO rois;

--
-- Name: movie_directors; Type: TABLE; Schema: public; Owner: rois
--

CREATE TABLE public.movie_directors (
    movie_id integer NOT NULL,
    director_id integer NOT NULL
);


ALTER TABLE public.movie_directors OWNER TO rois;

--
-- Name: movie_genre; Type: TABLE; Schema: public; Owner: rois
--

CREATE TABLE public.movie_genre (
    movie_genre_id integer NOT NULL,
    movie_id integer NOT NULL,
    genre_id integer NOT NULL
);


ALTER TABLE public.movie_genre OWNER TO rois;

--
-- Name: movie_genre_movie_genre_id_seq; Type: SEQUENCE; Schema: public; Owner: rois
--

CREATE SEQUENCE public.movie_genre_movie_genre_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movie_genre_movie_genre_id_seq OWNER TO rois;

--
-- Name: movie_genre_movie_genre_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rois
--

ALTER SEQUENCE public.movie_genre_movie_genre_id_seq OWNED BY public.movie_genre.movie_genre_id;


--
-- Name: movie_movie_id_seq; Type: SEQUENCE; Schema: public; Owner: rois
--

CREATE SEQUENCE public.movie_movie_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movie_movie_id_seq OWNER TO rois;

--
-- Name: movie_movie_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rois
--

ALTER SEQUENCE public.movie_movie_id_seq OWNED BY public.movie.movie_id;


--
-- Name: premieres; Type: TABLE; Schema: public; Owner: rois
--

CREATE TABLE public.premieres (
    id integer NOT NULL,
    movie_id integer NOT NULL,
    location_id integer NOT NULL,
    date date NOT NULL,
    "time" time without time zone NOT NULL,
    total_seat integer NOT NULL,
    premiere_name character varying(50)
);


ALTER TABLE public.premieres OWNER TO rois;

--
-- Name: premieres_id_seq; Type: SEQUENCE; Schema: public; Owner: rois
--

CREATE SEQUENCE public.premieres_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.premieres_id_seq OWNER TO rois;

--
-- Name: premieres_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rois
--

ALTER SEQUENCE public.premieres_id_seq OWNED BY public.premieres.id;


--
-- Name: schedules; Type: TABLE; Schema: public; Owner: rois
--

CREATE TABLE public.schedules (
    id integer NOT NULL,
    premiere_id integer NOT NULL,
    start_time timestamp without time zone NOT NULL,
    end_time timestamp without time zone NOT NULL
);


ALTER TABLE public.schedules OWNER TO rois;

--
-- Name: schedules_id_seq; Type: SEQUENCE; Schema: public; Owner: rois
--

CREATE SEQUENCE public.schedules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.schedules_id_seq OWNER TO rois;

--
-- Name: schedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rois
--

ALTER SEQUENCE public.schedules_id_seq OWNED BY public.schedules.id;


--
-- Name: seat; Type: TABLE; Schema: public; Owner: rois
--

CREATE TABLE public.seat (
    seat_id integer NOT NULL,
    premiere_id integer,
    "row" integer,
    col integer,
    seat_name character varying(20),
    status character varying(20),
    CONSTRAINT seat_status_check CHECK (((status)::text = ANY ((ARRAY['available'::character varying, 'booked'::character varying, 'reserved'::character varying])::text[])))
);


ALTER TABLE public.seat OWNER TO rois;

--
-- Name: seat_seat_id_seq; Type: SEQUENCE; Schema: public; Owner: rois
--

CREATE SEQUENCE public.seat_seat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.seat_seat_id_seq OWNER TO rois;

--
-- Name: seat_seat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rois
--

ALTER SEQUENCE public.seat_seat_id_seq OWNED BY public.seat.seat_id;


--
-- Name: tickets; Type: TABLE; Schema: public; Owner: rois
--

CREATE TABLE public.tickets (
    id integer NOT NULL,
    booking_id integer NOT NULL,
    seat_number integer NOT NULL,
    price numeric(10,2) NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.tickets OWNER TO rois;

--
-- Name: tickets_id_seq; Type: SEQUENCE; Schema: public; Owner: rois
--

CREATE SEQUENCE public.tickets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tickets_id_seq OWNER TO rois;

--
-- Name: tickets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rois
--

ALTER SEQUENCE public.tickets_id_seq OWNED BY public.tickets.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: rois
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    username character varying(50) NOT NULL,
    password character varying(255) NOT NULL,
    email character varying(255),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone,
    role character varying(50) DEFAULT 'user'::character varying
);


ALTER TABLE public.users OWNER TO rois;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: rois
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO rois;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rois
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: bookings booking_id; Type: DEFAULT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.bookings ALTER COLUMN booking_id SET DEFAULT nextval('public.bookings_booking_id_seq'::regclass);


--
-- Name: casts id; Type: DEFAULT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.casts ALTER COLUMN id SET DEFAULT nextval('public.casts_id_seq'::regclass);


--
-- Name: directors id; Type: DEFAULT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.directors ALTER COLUMN id SET DEFAULT nextval('public.directors_id_seq'::regclass);


--
-- Name: genres genre_id; Type: DEFAULT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.genres ALTER COLUMN genre_id SET DEFAULT nextval('public.genres_genre_id_seq'::regclass);


--
-- Name: locations id; Type: DEFAULT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.locations ALTER COLUMN id SET DEFAULT nextval('public.locations_id_seq'::regclass);


--
-- Name: movie movie_id; Type: DEFAULT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.movie ALTER COLUMN movie_id SET DEFAULT nextval('public.movie_movie_id_seq'::regclass);


--
-- Name: movie_genre movie_genre_id; Type: DEFAULT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.movie_genre ALTER COLUMN movie_genre_id SET DEFAULT nextval('public.movie_genre_movie_genre_id_seq'::regclass);


--
-- Name: premieres id; Type: DEFAULT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.premieres ALTER COLUMN id SET DEFAULT nextval('public.premieres_id_seq'::regclass);


--
-- Name: schedules id; Type: DEFAULT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.schedules ALTER COLUMN id SET DEFAULT nextval('public.schedules_id_seq'::regclass);


--
-- Name: seat seat_id; Type: DEFAULT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.seat ALTER COLUMN seat_id SET DEFAULT nextval('public.seat_seat_id_seq'::regclass);


--
-- Name: tickets id; Type: DEFAULT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.tickets ALTER COLUMN id SET DEFAULT nextval('public.tickets_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: rois
--



--
-- Data for Name: casts; Type: TABLE DATA; Schema: public; Owner: rois
--



--
-- Data for Name: directors; Type: TABLE DATA; Schema: public; Owner: rois
--

COPY public.directors (id, name) FROM stdin;
1	David Yates
2	Ruben Fleischer
3	Jon Watts
4	Jon Favreau
5	Chad Stahelski
6	Cate Shortland
7	Robert Zemeckis
8	Christopher Nolan
9	Quentin Tarantino
10	Francis Ford Coppola
11	Lana Wachowski and Lilly Wachowski
12	David Fincher
13	Peter Jackson
14	Frank Darabont
\.


--
-- Data for Name: genres; Type: TABLE DATA; Schema: public; Owner: rois
--



--
-- Data for Name: locations; Type: TABLE DATA; Schema: public; Owner: rois
--

COPY public.locations (id, city, address) FROM stdin;
2	Surabaya	East Java
3	Bandung	West Java
4	Medan	North Sumatra
5	Makassar	South Sulawesi
6	Yogyakarta	Yogyakarta Special Region
7	Semarang	Central Java
8	Palembang	South Sumatra
9	Denpasar	Bali
10	Banjarmasin	South Kalimantan
1	Banjar	West Java
\.


--
-- Data for Name: movie; Type: TABLE DATA; Schema: public; Owner: rois
--



--
-- Data for Name: movie_casts; Type: TABLE DATA; Schema: public; Owner: rois
--



--
-- Data for Name: movie_directors; Type: TABLE DATA; Schema: public; Owner: rois
--

COPY public.movie_directors (movie_id, director_id) FROM stdin;
1	1
2	2
3	3
4	4
5	5
6	6
7	7
8	8
9	9
10	10
11	11
12	13
13	12
18	13
19	13
20	13
21	13
22	13
23	13
24	13
25	13
28	13
\.


--
-- Data for Name: movie_genre; Type: TABLE DATA; Schema: public; Owner: rois
--

COPY public.movie_genre (movie_genre_id, movie_id, genre_id) FROM stdin;
1	1	1
2	1	2
3	2	7
4	2	9
5	3	7
6	3	1
7	4	7
8	4	9
9	5	7
10	6	7
11	6	4
12	7	7
13	7	5
14	8	7
15	8	10
16	9	9
17	9	10
18	10	1
19	10	2
20	11	3
21	11	4
22	12	5
23	12	6
24	13	7
25	13	8
26	18	9
27	18	10
28	19	1
29	19	2
30	20	3
31	20	4
32	21	3
33	21	4
34	22	3
35	22	4
36	23	3
37	23	4
38	24	5
39	24	6
40	25	5
41	25	6
42	28	5
43	28	6
\.


--
-- Data for Name: premieres; Type: TABLE DATA; Schema: public; Owner: rois
--



--
-- Data for Name: schedules; Type: TABLE DATA; Schema: public; Owner: rois
--

COPY public.schedules (id, premiere_id, start_time, end_time) FROM stdin;
1	1	2024-02-21 10:00:00	2024-02-21 12:00:00
2	2	2024-02-22 14:00:00	2024-02-22 16:00:00
3	3	2024-02-23 18:00:00	2024-02-23 20:00:00
4	4	2024-02-24 12:00:00	2024-02-24 14:00:00
5	5	2024-02-25 16:00:00	2024-02-25 18:00:00
6	6	2024-02-26 20:00:00	2024-02-26 22:00:00
7	7	2024-02-27 10:00:00	2024-02-27 12:00:00
8	8	2024-02-28 14:00:00	2024-02-28 16:00:00
9	9	2024-02-29 18:00:00	2024-02-29 20:00:00
10	10	2024-03-01 12:00:00	2024-03-01 14:00:00
12	13	2024-02-26 20:00:00	2024-02-26 22:00:00
\.


--
-- Data for Name: seat; Type: TABLE DATA; Schema: public; Owner: rois
--



--
-- Data for Name: tickets; Type: TABLE DATA; Schema: public; Owner: rois
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: rois
--



--
-- Name: bookings_booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rois
--

SELECT pg_catalog.setval('public.bookings_booking_id_seq', 20, true);


--
-- Name: casts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rois
--

SELECT pg_catalog.setval('public.casts_id_seq', 143, true);


--
-- Name: directors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rois
--

SELECT pg_catalog.setval('public.directors_id_seq', 14, true);


--
-- Name: genres_genre_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rois
--

SELECT pg_catalog.setval('public.genres_genre_id_seq', 10, true);


--
-- Name: locations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rois
--

SELECT pg_catalog.setval('public.locations_id_seq', 11, true);


--
-- Name: movie_genre_movie_genre_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rois
--

SELECT pg_catalog.setval('public.movie_genre_movie_genre_id_seq', 45, true);


--
-- Name: movie_movie_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rois
--

SELECT pg_catalog.setval('public.movie_movie_id_seq', 29, true);


--
-- Name: premieres_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rois
--

SELECT pg_catalog.setval('public.premieres_id_seq', 14, true);


--
-- Name: schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rois
--

SELECT pg_catalog.setval('public.schedules_id_seq', 12, true);


--
-- Name: seat_seat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rois
--

SELECT pg_catalog.setval('public.seat_seat_id_seq', 491, true);


--
-- Name: tickets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rois
--

SELECT pg_catalog.setval('public.tickets_id_seq', 27, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rois
--

SELECT pg_catalog.setval('public.users_user_id_seq', 21, true);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (booking_id);


--
-- Name: casts casts_pkey; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.casts
    ADD CONSTRAINT casts_pkey PRIMARY KEY (id);


--
-- Name: directors directors_pkey; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.directors
    ADD CONSTRAINT directors_pkey PRIMARY KEY (id);


--
-- Name: genres genres_genre_name_key; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.genres
    ADD CONSTRAINT genres_genre_name_key UNIQUE (genre_name);


--
-- Name: genres genres_pkey; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.genres
    ADD CONSTRAINT genres_pkey PRIMARY KEY (genre_id);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: movie_casts movie_casts_pkey; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.movie_casts
    ADD CONSTRAINT movie_casts_pkey PRIMARY KEY (movie_id, cast_id);


--
-- Name: movie_directors movie_directors_pkey; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.movie_directors
    ADD CONSTRAINT movie_directors_pkey PRIMARY KEY (movie_id, director_id);


--
-- Name: movie_genre movie_genre_pkey; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.movie_genre
    ADD CONSTRAINT movie_genre_pkey PRIMARY KEY (movie_genre_id);


--
-- Name: movie movie_pkey; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.movie
    ADD CONSTRAINT movie_pkey PRIMARY KEY (movie_id);


--
-- Name: premieres premieres_pkey; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.premieres
    ADD CONSTRAINT premieres_pkey PRIMARY KEY (id);


--
-- Name: schedules schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_pkey PRIMARY KEY (id);


--
-- Name: seat seat_pkey; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.seat
    ADD CONSTRAINT seat_pkey PRIMARY KEY (seat_id);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (id);


--
-- Name: users unique_username; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT unique_username UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: bookings bookings_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_schedule_id_fkey FOREIGN KEY (schedule_id) REFERENCES public.schedules(id);


--
-- Name: bookings bookings_seat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_seat_id_fkey FOREIGN KEY (seat_id) REFERENCES public.seat(seat_id);


--
-- Name: bookings bookings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: movie_casts movie_casts_cast_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.movie_casts
    ADD CONSTRAINT movie_casts_cast_id_fkey FOREIGN KEY (cast_id) REFERENCES public.casts(id);


--
-- Name: movie_directors movie_directors_director_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.movie_directors
    ADD CONSTRAINT movie_directors_director_id_fkey FOREIGN KEY (director_id) REFERENCES public.directors(id);


--
-- Name: movie_directors movie_directors_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.movie_directors
    ADD CONSTRAINT movie_directors_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movie(movie_id);


--
-- Name: movie_genre movie_genre_fk; Type: FK CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.movie_genre
    ADD CONSTRAINT movie_genre_fk FOREIGN KEY (movie_id) REFERENCES public.movie(movie_id) ON DELETE CASCADE;


--
-- Name: movie_genre movie_genre_fk_1; Type: FK CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.movie_genre
    ADD CONSTRAINT movie_genre_fk_1 FOREIGN KEY (genre_id) REFERENCES public.genres(genre_id) ON DELETE CASCADE;


--
-- Name: premieres premieres_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.premieres
    ADD CONSTRAINT premieres_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id);


--
-- Name: premieres premieres_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.premieres
    ADD CONSTRAINT premieres_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movie(movie_id);


--
-- Name: schedules schedules_premiere_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_premiere_id_fkey FOREIGN KEY (premiere_id) REFERENCES public.premieres(id);


--
-- Name: seat seat_premiere_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.seat
    ADD CONSTRAINT seat_premiere_id_fkey FOREIGN KEY (premiere_id) REFERENCES public.premieres(id);


--
-- Name: tickets tickets_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: rois
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.bookings(booking_id);


--
-- PostgreSQL database dump complete
--

